.WardPage {
    background-color: #203162;
    width: 100vw;
    height: 100vh;
}
.wardHeader {
    padding-top: 7vh;
    padding-left: 7vw;
    display: flex;
    align-items: center;
}
.divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.8vh;
}
.wardContent {
    margin-top: '10vh';
    display: flex;
    align-items: center;
}
.iconName {
    display: flex;
    align-items: center;
}
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.patientNameTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}