.WardPage {
    background-color: #86C2F8;
    padding-top: 7.7vh;
    width: 100vw;
    height: 100vh;
}
.wardHeader {
    margin-top: 17vh;
    margin-left: 16vw;
}
.divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.8vh;
}
.wardContent {
    display: flex;
    align-items: center;
}
.iconName {
    display: flex;
    align-items: center;
}
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
